{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.totp_code.label }}<br>
        {{ form.totp_code(size=32) }}<br>
        {% for error in form.totp_code.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}